.header{
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 0.1em;

    color: #001368;
    font-family :'Courier New', Courier, monospace;
    font-size : 2em;
    background-color: rgb(44, 255, 255);

    z-index: 1;
}

.aboutHeader{
    color:#3cff00;
    /* font-size: 2em; */
}


/* body{
    background-color: black;
} */


.gridContainer{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    margin-left : 5%;
    /* grid-row-gap: 10%; */
    width : 90%;
}


.containerImage{
    width : 100%;
    vertical-align: middle;
    height : 100%;
}


.myDescription{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width : 100%;
    /* font-size : 0.9em; */
}


ul{
    color : white;
    font-size: 2em;
}


ol{
    font-size: 0.8em;
    margin-left : 5%;
}


.sectionHeaders{
    color: rgb(255, 0, 0);
    font-size: 2.4em;
}


.aboutMe{
    display: grid;
    grid-template-columns: 25% 55%;
    grid-column-gap: 10%;
    margin-left : 10%;
    padding-left : 5%;
    padding-right : 5%;

    background-color: rgb(67, 67, 141);
    color:rgb(255, 255, 255);
    font-size: 1.75em;
    width : 70%;
}


a{
    color:rgb(139, 255, 255);
}


.btn {
    border: none;
    background-color: inherit;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5em;
    cursor: pointer;
    display: inline-block;
    padding : 1% 1%
}


.languagesPhoto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width : 30%;
}


.repoImages{
    width : auto;
}




@media only screen and (max-width: 1250px){
    .myDescription{
        font-size : 0.9em;
    }
}

@media only screen and (max-width: 1100px){
    .myDescription{
        font-size : 0.7em;
    }
}

@media only screen and (max-width: 950px){
    .gridContainer{
        display: grid;
        grid-template-columns: 100%;
        margin-left : 2.5%;
        width : 95%;
    }

    .aboutMe{
        font-size : 1.25em;
        
        width : 95%;
        display: grid;
        margin-left : 2.5%;
        margin-right: 2.5%;
        grid-template-columns: 95%;
        padding-left : 2.5%;
        padding-right : 2.5%;

    }

    .myDescription{
        font-size : 1.1em;
    }
}


@media only screen and (max-width: 550px){
    .repoImages {
        width : 100%;
    } 
}


@media only screen and (max-width: 380px){
    .header {
        font-size : 1.25em;
    }
}



  /* On mouse-over */
.btn:hover {background: rgb(255, 251, 0);}

.github {color: rgb(0, 132, 255);}
.blog {color: rgb(2, 163, 75);}
.algoExpert {color: rgb(255, 94, 0);}

