.header{
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 0.1em;

    color: #001368;
    font-family :'Courier New', Courier, monospace;
    font-size : 2em;
    background-color: rgb(44, 255, 255);
    

    z-index: 1;
}

/* body{
    background-color: black;
} */

.gridContainer{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 5%;
    margin-left : 2.5%;
    grid-row-gap: 5%;
}

img{
    width : 100%;
    margin-top: 10%;
}

ul{
    color : white;
    font-size: 2em;
}

ol{
    font-size: 0.8em;
    margin-left : 5%;
}

h2{
    color: rgb(255, 0, 0);
    font-size: 2.4em;
}

.aboutMe{
    color:rgb(0, 255, 110);
    font-size: 1.75em;
    width: 80%;
    margin-left : 10%;
}

a{
    color:rgb(139, 255, 255);
}


.btn {
    border: none;
    background-color: inherit;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5em;
    cursor: pointer;
    display: inline-block;
    padding : 1% 1%
  }

  /* On mouse-over */
.btn:hover {background: rgba(136, 134, 0, 0.616);}

.github {color: rgb(0, 132, 255);}
.blog {color: rgb(2, 163, 75);}
.algoExpert {color: rgb(255, 94, 0);}
